/* boton pagina principal*/

.inicio{
    font-weight: bold;
    border: solid 1px black;
    background-color: #43C6AC;
    position: absolute;
    top: 30px;
    height: 20px;
    width: 115px;
    left: 80px; 
}

.inicio:hover{
    height: 22px; width: 117px;
    padding: 2px;
    background-color: #17A589;
}

.linkinicio:hover{
    color: #D1F2EB;
}

/* boton pagina principal*/

/* Body mapa*/

.contenedorMapa{
    margin-top: 80px;
    margin-left: 100px;
    max-width: 700px;
    float: left;
}

.textoContacto{
    display: flex;
    justify-content: center;
    color: black;
}

.bodycontacto{
    padding: 25px;
    margin: 0px;
    background-image: linear-gradient(to top, #43C6AC,#fffcdc);
}   

/* Body mapa*/

/* Body formulario*/

.formulario{
    
    position: absolute;
    left: 900px;
    background-image:url(imagenFondo.png);
    background-size: cover;
    margin-top: 5px;
     
}

.textoForm{
    text-align: center;
    color: black;
}

/* Body formulario*/

