
/* boton pagina principal*/

 .inicio{
     font-weight: bold;
     border: solid 1px black;
     background-color: #43C6AC;
     position: absolute;
     top: 30px;
     height: 20px;
     width: 115px;
     left: 80px;
     
}

 .inicio:hover{
    height: 22px; width: 117px;
    padding: 2px;
    background-color: #17A589;
}

.linkinicio:hover{
    color: #D1F2EB;
}

/* boton pagina principal*/

/* Body */

.tituloServicio{
    color: black;
    margin-top: 119px;
    font-size: 65px;
    margin-bottom: 0px;
    
}

.servicioPregunta{
    color: black;
    font-size: 20px;
}

.contenedorpadre{
    text-align: center;
}

.contenedorhijo{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}

.liServicio{
    border: solid black 3px;
    list-style: none;
    color: black;
    float: left;
    margin-left: 218px;
    height: 340px;
    width: 1060;
    letter-spacing: 1px;
    background-image: url(vineta.png);
}

.descripcionservicio{
    text-align: left;
    margin: auto;
    height: 40px;
    width: 100px;
    
}

.colorFondo{
    background-image: linear-gradient(to top, #43C6AC,#fffcdc);
} 

/* Body */

